<menu class="menu-container">
  <div class="icons-container">
    <div  id="home-btn" class="icon-container">
      <button (click)="selectCategory('home')"><img src="/assets/svg/home.svg" alt="Inicio"></button>
      <p>Inicio</p>
    </div>
    <div  id="favorites-btn" class="icon-container">
      <button (click)="selectCategory('favorites')"><img src="/assets/svg/favorite.svg" alt="Favoritos"></button>
      <p>Favoritos</p>
    </div>
    <div  id="categories-btn" class="icon-container">
      <button (click)="selectCategory('categories')"><img src="/assets/svg/category.svg" alt="Categorías"></button>
      <p>Categorías</p>
    </div>
    <div  id="series-btn" class="icon-container">
      <button (click)="selectCategory('series')"><img src="/assets/svg/series.svg" alt="Series"></button>
      <p>Series</p>
    </div>
    <div id="movie-btn" class="icon-container">
      <button  (click)="selectCategory('movies')"><img src="/assets/svg/movie.svg" alt="Películas"></button>
      <p>Películas</p>
    </div>
  </div>
</menu>
