<app-header></app-header>
<section class="main-section">
  <div class="eslogan">
    <h2>¡Actualiza tu contraseña con la Moviest seguridad!</h2>
  </div>

  <article class="login-container">
    <h3>Crea tu cuenta</h3>

    <form action="/login" method="POST">
      <fieldset>

        <div>
          <label for="password">Escribe tu nueva contraseña</label>
          <input
            id="password"
            name="password"
            type="password"
            placeholder="Ingresa tu nueva contraseña"
            required
          />
        </div>

        <div>
          <label for="confirm-password">Confirma tu contraseña</label>
          <input
            id="confirm-password"
            name="confirm-password"
            type="password"
            placeholder="Confirma tu contraseña"
            required
          />
        </div>

      </fieldset>

      <button type="submit">Actualizar contraseña</button>
    </form>

  </article>
</section>
