@import url('../css/variables.css');

/*  ESTILOS DEL NAV  */
nav{
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  padding: var(--section-padding);
  z-index: 1000;
}
nav .logo-img{
  width: 22rem;
}
nav .nav-right{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
}
.nav-right img{
  width: 3.2rem;
  margin: 0 1.2rem;
}
.nav-right p{
  font-size: var(--text-size);
}

/*  ESTILOS DE LA BARRA DE BÚSQUEDA   */

.search-container{
  display: flex;
  position: relative;
  width: 100%;
  padding: var(--section-padding);
  padding-top: 12rem;
}

.search-container input{
  padding-left: 20px;
  width: 80%;
  height: 60px;
  border-radius: 90px 0 0 90px;
  background-color: rgba(43, 41, 41, 0.3); /* Fondo blanco semi-transparente */
  backdrop-filter: blur(4px);
  color: white;
  border-right: none;
}
.search-container button{
  width: 20%;
  height: 6rem;
  background-color: #7236c7; /* Fondo blanco semi-transparente */
  backdrop-filter: blur(4px);
  border-radius: 0 90px 90px 0;
  border: solid 1px white;
  border-left: none;
}

/*  ESTILOS DEL MENU  */
.menu-container{
  display: flex;
  justify-content: center;
  margin-top: 14rem;
  width: 100%;
  height: 3.5rem;
}
.icons-container{
  display: flex;
  justify-content: space-around;
  width: 60%;
  max-width: 60rem;
}
.icon-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5.6rem;
  transition: transform 0.2s ease-in-out;
}
.icon-container button{
  background-color: rgba(0, 0, 0, 0.5); /* Fondo blanco semi-transparente */
  backdrop-filter: blur(4px);
  
}
.icon-container:hover{
  transform: scale(1.12);
}
.icon-container img{
  width: 100%;
  object-fit: contain;
}
.icon-container p{
  margin-top: 0.8rem;
  font-size: var(--text-size);
}

/*  ESTILOS DE LA LISTA DE PELÍCULAS  */

.movies-section{
  padding: var(--section-padding);
  margin-top: 8rem;
  width: 100%;
  height: auto;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0.8rem;
  width: 24rem;
  height: 32rem;
  border-radius: var(--border-radius);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease-in-out; 
}
.card:hover{
  transform: scale(1.08);
}
.card .top_icons-card-container{
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
}
.card img{
  width: 3.2rem;

}
.card .play_button-card-container{
  display: flex;
  justify-content: center;
}
.card .play_button-card-container img{
  width: 4rem;
}
.card .bottom_tittle-card-container{
  padding: 1.2rem;
  font-size: var(--subtitle-size);
}

/* ESTILOS DEL MOVIE DETAILS  */

#detailsCard-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0.8rem;
  width: 36rem;
  height: 44rem;
  border-radius: var(--border-radius);
  background-color: aqua;
  box-shadow: var(--box-shadow);
}

.details-container{
  display: flex;
  flex-direction: column;
  margin: 2rem 4rem;
}

.details-container h2{
  margin-bottom: 2.6rem;
  font-size: 4rem;
}
.details-container p{
  margin-bottom: 12rem;
  font-size: 2.4rem;
}
.cardAndDetails-container{
  display: flex;
}