
:root {
  /* Colors */
  --primary-color: #7236c7;      /* Rojo estilo Netflix */
  --primary-hover: #4c098e;      /* Rojo oscuro al pasar el mouse */
  --text-color: #333;            /* Color principal del texto */
  --border-color: #ccc;          /* Borde sutil */
  --background-color: #fff;      /* Fondo principal */

  /* Font Sizes */
  --title-size: 3.2rem;          /* Título principal */
  --subtitle-size: 2.8rem;       /* Subtítulo */
  --text-size: 1.6rem;           /* Texto común */

  /* Spacing */
  --section-padding: 20px;       /* Relleno general */
  --element-gap: 1.5rem;         /* Separación entre elementos */
  --border-radius: 12px;         /* Esquinas redondeadas */
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
/*  ESTILOS GENERALES  */
body {
  font-family: Arial, sans-serif;  
  color: var(--text-color);         
}

/* ESTILOS DEL HEADER */
header{
  position: fixed;
  width: 100%;
  padding: 0.4rem 0 0 5.2rem;
}
header img{
  width: 22rem;
}


/*  CONTENEDOR PRINCIPAL  */
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: var(--section-padding);
}

/*  ESLOGAN  */
.eslogan {
  padding: 8rem 0 3.6rem 0;
  margin-bottom: 3rem;
  text-align: center;
  font-size: var(--title-size);
}

/*  FORMULARIO DE LOGIN  */
.login-container {
  margin-top: 2rem;
  padding: var(--element-gap);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 400px;
  width: 100%;
}

/*  TÍTULO DEL FORMULARIO  */
.login-container h3 {
  font-size: var(--subtitle-size);
  margin-bottom: var(--element-gap);
  text-align: center;
}

/*  CAMPOS DEL FORMULARIO */
fieldset {
  border: none;
  margin-bottom: var(--element-gap);
}

/* Estilo de las etiquetas y los campos de entrada */
label {
  font-size: var(--text-size);
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.8rem; 
  margin-bottom: 1.6rem;
  font-size: var(--text-size);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

/*  ENLACE OLVIDAR CONTRASEÑA  */
.forgot-link {
  display: block;
  margin-top: 1rem;  
  text-align: right;
  font-size: var(--text-size);
}

/*  BOTÓN DE ENVÍO  */
button {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--text-size);
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: var(--primary-hover);
}

/*  ALTERNATIVA DE REGISTRO  */
.alternative {
  margin-top: var(--element-gap);
  text-align: center;
  font-size: var(--text-size);
}

.alternative a {
  color: var(--primary-color);
  text-decoration: none;
}

.alternative a:hover {
  text-decoration: underline;
}
