:root {
  /* Colors */
  --primary-color: #7236c7;      /* Rojo estilo Netflix */
  --primary-hover: #4c098e;      /* Rojo oscuro al pasar el mouse */
  --text-color: #e9e9f3;            /* Color principal del texto */
  --border-color: #ccc;          /* Borde sutil */
  --background-color: #fff;      /* Fondo principal */

  /* Font Sizes */
  --title-size: 3.2rem;          /* Título principal */
  --subtitle-size: 2.8rem;       /* Subtítulo */
  --text-size: 1.6rem;           /* Texto común */

  /* Spacing */
  --section-padding: 0.8rem 8.2rem;       /* Relleno general */
  --element-gap: 1.5rem;         /* Separación entre elementos */
  --border-radius: 12px;         /* Esquinas redondeadas */
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}
/*  ESTILOS GENERALES  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body {
  font-family: Arial, sans-serif;  
  color: var(--text-color);    
  background-image: url('../assets/images/fondo.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;      
}
body::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1;
}
svg{
  fill: white;
}