<section class="movies-section" *ngIf="category !== 'categories'; else elseBlock" >
    <article *ngFor="let group of contentByTypeGroup">
      <div id="title-movies-container-section">
        <h2>{{ group.type }}</h2>
      </div>
      <div class="cards-container">
        <div class="card" *ngFor="let item of group.items" [style.backgroundImage]="'url(assets/images/' + item.coverImage + ')'">
          <div class="top_icons-card-container">
            <img (click)="deleteMovieToFavorites(item.id)"  src="/assets/svg/hide.svg" alt="Ocultar" />
            <img (click)="saveMovieIntoFavorites(item)" src="/assets/svg/heart.svg" alt="Me gusta" />
          </div>
          <div class="play_button-card-container">
            <img (click)="loadMovieDetails(item)" class="play-button" src="/assets/svg/play.svg" alt="Play" />
          </div>
          <div class="bottom_tittle-card-container">
            <h2 class="title">{{ item.title }}</h2>
          </div>
        </div>
      </div>
    </article>
</section>

<ng-template #elseBlock>
  <section class="movies-section">
    <ng-container *ngFor="let genero of contentByGenreGroup | keyvalue">
      <article>
        <div id="title-movies-container-section">
          <h4>{{ genero.key }}</h4>
        </div>
        <div class="cards-container">
          <div class="card" *ngFor="let item of genero.value" [style.backgroundImage]="'url(assets/images/' + item.coverImage + ')'">
            <div class="top_icons-card-container">
              <img (click)="deleteMovieToFavorites(item.id)" src="/assets/svg/hide.svg" alt="Ocultar" />
              <img (click)="saveMovieIntoFavorites(item)" src="/assets/svg/heart.svg" alt="Me gusta" />
            </div>
            <div class="play_button-card-container">
              <img (click)="loadMovieDetails(item)" class="play-button" src="/assets/svg/play.svg" alt="Play" />
            </div>
            <div class="bottom_tittle-card-container">
              <h2 class="title">{{ item.title }}</h2>
            </div>
          </div>
        </div>
      </article>
    </ng-container>
  </section>
</ng-template>
