#detailsCard-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0.8rem;
  width: 36rem;
  height: 44rem;
  border-radius: var(--border-radius);

  box-shadow: var(--box-shadow);
}

.details-container{
  display: flex;
  flex-direction: column;
  margin: 2rem 4rem;
}

.details-container h2{
  margin-bottom: 2.6rem;
  font-size: 4rem;
}
.details-container p{
  margin-bottom: 12rem;
  font-size: 2.4rem;
}
.cardAndDetails-container{
  display: flex;
}

/*  ESTILOS DE LA PANTALLA DEL VIDEO  */

#video-container:-webkit-full-screen,
#video-container:-moz-full-screen,
#video-container:-ms-fullscreen,
#video-container:fullscreen {
  width: 100%;
  height: 100%;

  position: relative;
  margin-top: 20px;
  background-color: black;
}

#video-container video {
  width: 100%;
  height: 100%;
}


/*  card*/
.details-section{
  padding: var(--section-padding);
  margin-top: 8rem;
  width: 100%;
  height: auto;
}



.card .top_icons-card-container{
  display: flex;
  width: 50px;
  padding: 1.2rem;
  transition: transform 0.2s ease-in-out;
}
.card .top_icons-card-container:hover{
  transform: scale(1.2);
}
.card img{
  width: 3.2rem;

}
.card .play_button-card-container{
  display: flex;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}
.card .play_button-card-container:hover{
  transform: scale(1.3);
}
.card .play_button-card-container img{
  width: 4rem;
}
.card .bottom_tittle-card-container{
  padding: 1.2rem;
  font-size: var(--subtitle-size);
}
button {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--text-size);
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: var(--primary-hover);
}
